html, body {	
  height: 100%;
}
body {
  margin: 0;
  padding:0;
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ---------------- Dashboard ----------------- */
#dashboard {
  transition: all 0.6s linear;
  position: absolute;
}
.section-dashboard {
  /* border: solid 1px red; */
  width: 100vw;
  height: 100vh;
  background-image: repeating-radial-gradient(#071e37, #020a0e);
  padding: 35px;
  display: flex;
}

.card-dashboard {
  background-color: #101417;
  /* border: solid 1px blue; */
  padding: 15px;
  width: 100%;
}

.section-one {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-two {
  width: 40%;
}

.section-three {
  flex-direction: row;
  display: flex;
  align-items: end;  
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
}

.sub-section-container {
  /* border: solid 1px red; */
}

.available-player {
  /* border: solid 1px yellow; */
  display: flex;
  align-items: center;
  color: white;
}

.online-icon {
  border-radius: 50%;
  background-color: rgb(18, 185, 18);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.offline-icon {
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}


/* ----------------------- Second container --------------------- */

.section-two {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.select-img-container {
  /* border: solid 1px red; */
  height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.carousel-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.arrow-control {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.arrow-control:hover {
  box-shadow: 0 0 10px white;
  transform: scale(1.05);
}

.carousel-container {
  /* border: solid 1px orange; */
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
}

.no-href {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

.player-name {
  color: white;
  font-size: xxx-large;
  text-align: end;
  font-family: 'Alfa Slab One', cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; 
}

.card-line {
  display: flex;
}

.part-card {
  padding: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  color: white;
}
.part-card-1 {
  width: 50%;
  border-right: solid 1px rgba(255, 255, 255, 0.3);
}
.part-card-2 {
  width: 50%;
  text-align: center;
}
.card-line-icon {
  font-size: 1.5rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.big-btn {
  width: 90%;
  height: 70px;
  background-size: contain;
  background-position: center;
  background-color: #d7d7d7;
  border-radius: 12px;
  font-family: 'Alfa Slab One', cursive;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  color: white;
  background-image: url("../assets/dashboard/btn-background.png");
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  transition: all 0.5s;
}

.big-btn:hover {
  transform: scale(0.95);
}