html, body {	
  height: 100%;
}
body {
  margin: 0;
  padding:0;
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ---------------- Dashboard ----------------- */
#dashboard {
  transition: all 0.6s linear;
  position: absolute;
}
.section-dashboard {
  /* border: solid 1px red; */
  width: 100vw;
  height: 100vh;
  background-image: repeating-radial-gradient(#071e37, #020a0e);
  padding: 35px;
  display: flex;
}

.search-player {
  background-color: #101417;
  /* border: solid 1px blue; */
  padding: 15px;
}

.section-one {
  width: 30%;
}

.section-two {
  width: 40%;
}

.section-three {
  flex-direction: row;
  display: flex;
  align-items: end;  
  width: 30%;
}
#btn-play {
  height: 100px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
  transition: all 0.2s;
}
#btn-play:hover {
  transform: scale(0.95);
}

.sub-section-container {
  /* border: solid 1px red; */
}

.friend {
  /* border: solid 1px yellow; */
  display: flex;
  align-items: center;
  color: white;
}

.online-icon {
  border-radius: 50%;
  background-color: green;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.offline-icon {
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}


/* ----------------------- Second container --------------------- */

.section-two {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.select-img-container {
  /* border: solid 1px red; */
  height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.carousel-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.arrow-control {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.arrow-control:hover {
  box-shadow: 0 0 10px white;
  transform: scale(1.05);
}

.carousel-container {
  /* border: solid 1px orange; */
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
}

.no-href {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}