#loading {
    width: 100vw;
    height: 100vh;
    border: solid 1px red;

}
#loading > img {
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px red;
}
